@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:800&display=swap');

:root {
  /* --drag-highlight-color: #26ffd0; */
  --drag-highlight-color: #7b57ff;
}
html, body {
  height: 100%;
}
body {
  margin: 0px;
  box-sizing: border-box;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 0px;
}
#app {
  height: 100%;
}
a {
  color: rgb(0, 100, 200);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: rgb(0, 80, 160);
}
label {
  display: block;
}
input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}
input:disabled {
  color: #ccc;
}
input[type="range"] {
  height: 0;
}
button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}
button:active {
  background-color: #ddd;
}
button:focus {
  border-color: #666;
}
.no-highlight {
  user-select: none;
}
.ctatpageoverlay {
  position: fixed;
  inset: 0px;
  inline-size: 100%;
  block-size: 100%;
}
.fenster {
  position: absolute;
  inset: 0px;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px 10px;
  box-sizing: border-box;
  border-radius: 10px;
  inline-size: 50vw;
  block-size: 180px;
  padding: 20px;
  background: #f5f4f3;
  transition: all .25s ease;
}
.titel {
  display: none;
}
.fenster .inhalt {
  box-sizing: border-box;
  border-radius: 10px;
  block-size: 140px;
  overflow: auto;
  font-size: 16px;
  color: black;
  text-align: center;
}
